body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#btn{
    width: 150px;
    height: 70px;
    font-weight: 900;
    font-size: 25px;
}