* {
    margin: 0;
    padding: 5px;
    outline: 0;
    box-sizing: border-box;
  }
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
}
#Decrement_btn{
    width: 150px;
}
#Increment_btn{
    width: 150px;
}
    

#Reset_btn{
   margin-left: 35%;
   width: 100px;
}


  
 